body{
    background-color: black
}
.content > p{
color: red;
background-color: blue;
}

.content  .content2{
    color: blue;
    background-color: green;
}

.menu li a:hover{
    color: brown;
    background-color: grey;
}

article div{
    display: flex;
    flex-flow: row wrap;
}

article div figure{
    color: blue;
    flex: 1 0 200px;
    width: 200px; 
    height: 300px;
    margin: 12px;
    box-shadow: 0px 3px 3px black;
    transition: all 300ms ease-in-out;
}

article div figure:hover{
    box-shadow: 0px 10px 40px grey; 
    width: 202px; height: 303px;
}

.background{
    background: linear-gradient(to bottom,
     rgba(116, 80, 80, 0.702),
     rgba(0, 0, 0, 0.702)),
      url("/images/netflix-bg.jpg");
    height: 100vh;
    background-size: cover;
    border-bottom: 7px solid grey;
}

.header-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 125px;
}

.logo{
    border: none;
}
.btn{
    border-radius: 7px;
    border: none;
    background-color: red;
    color: white;
    padding: 8px 17px;
}

.cont1{
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.Cont1-txt2{
    font-size: 3.5rem;
}

.p1{
    font-size: 22px;
}

.btn2{
    padding: 13px 100px 13px 5px;
}

.cont2{
    display: flex;
    justify-content: center;
}

.em2{
    padding: 13px 100px 13px 5px;
    border-radius: 5px;
    width: 220px;
    background-color: transparent;
    color: white;
    outline: none;
}

.btn2{
    width: fit-content;
    margin-left: 5px;
    border-radius: 5px;
    border: none;
    padding: 13px 20px;
    background-color: red;
    color: white;
}

.TV{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 125px;
    border-bottom: 7px solid grey;
    color: white;
}

.tv3{
    font-size: 18px;
}

.tv4{
    font-size: 18px;
}

.sec{
    display: flex;
    color: white;
    border-bottom: 7px solid grey;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 3rem;
}

 .sec1{ 
     width: 40%;

}

.sec2{
    width: 40%;
    font-size: 18px;
}

.sec3{
    font: 18px;
    color: white;
    border-bottom: 7px solid grey;
}

.sec4{
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    border-bottom: 7px solid grey;
}

.sec5{
    width: 40%;
}

.sec6{
    width: 40%;
    font-size: 18px;
}

.artc{
    font-size: 1.8rem;
}

.FAQS{
    text-align: center;
    color: white;
    border-bottom: 7px solid grey;
}

/* .faqs1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
} */
.faq{
    width: 75%;
    font-size: 1.7rem;
    height: 70px;
    color: white;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    background-color: rgb(44, 44, 44);
    padding: 0px 10px;
    margin-bottom: 5px;
}

.faq:hover{
    background-color: rgb(75, 74, 74);
}

.mail{
    color: white;
    text-align: center;
    font-size: 13.5px;
}

.sect{
    display: flex;
    justify-content: center;
}

.ema{
    padding: 13px 100px 13px 5px;
    border-radius: 5px;
    width: 220px;
    background-color: transparent;
    color: white;
    outline: none;
    margin-bottom: 5rem;
}

.butn{
    width: fit-content;
    border-radius: 5px;
    margin-left: 5px;
    padding: 13px 20px;
    background-color: red;
    border: none;
    color: white;
    margin-bottom: 5rem;
}

footer{
    display: flex;
    justify-content: space-around;
    width: 80%;
    align-items: center;
    margin-top: 5rem;
}

.net{
    color: white;
}
.ques{
    margin-bottom: 3rem;
}

.footer-div > a{
    color: white;
}

.txt{
    font-size: 2rem;
}
.header{
    font-size: .9rem;
    margin-bottom: 7px;
    text-align: left;
}
.bg-img{
    background-image: url("/images/phone.jpg");
    position: relative;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.bk{
    position: absolute;
    width: 80%;
    bottom: 15%;
    left: 10%;
}
.bc{
    font-weight: 700;
}
.arrow{
    margin-left: 90rem;
    width: 30px;
    height: 30px;
    border-radius: 200px;
    text-align: center;
}
.mycard1{
    margin-top: 25%;
}
.btn{
    margin: auto;
}
.cont{
    background-color: rgb(233, 227, 227);
}

.run{
    justify-content: space-around;
}
.body-card{
    color: red;
}
.on-hover:hover{
    transition: 800ms;
    transform: scale(1.1);
}
@media (min-width: 768px) {
    Body::before {
        content: "MD";
    }
}
@media (min-width: 992px) {
    Body::before {
        content: "MD";
    }
}
@media (min-width: 1200px) {
    Body::before {
        content: "MD";
    }
}
@media (min-width: 1400px) {
    Body::before {
        content: "MD";
    }
}

